body {
  font-family: 'Arial', sans-serif;

}

/* css for logo */
#header-img {
  width: 50%;
  height: 50%;
  position: relative;
  left: 10%;

}


.main-heading {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #000000;
}

.container p, .container ul, .container ol {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #000000;
  font-weight: bold;
}

.container h3 {
  font-size: 2.5rem;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #000000;
}

.container li {
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #000000;
}

@media (max-width: 768px) {
  .main-heading {
      font-size: 2.5rem;
  }

  .container p, .container li {
      font-size: 1rem;
  }
}

/* css for logo */
#header-img {
  width: 50%;
  height: 50%;
  position: relative;
  left: 10%;

}

.nav-item{
  color: #000000;
  font-weight: bold;
}