body {
    font-family: 'Arial', sans-serif;
    
}
.error-container {
    margin: 200px 300px;
    width:50%;
    display:grid;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.error-title {
    font-size: 2em;
    color: #dc3545;
    margin-bottom: 10px;
}

.error-message {
    font-size: 1.2em;
    color: #6c757d;
    margin-bottom: 20px;
}

.back-to-home {
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out;
}

.back-to-home:hover {
    background-color: #0056b3;
}

/* css for logo */
#header-img {
    width: 50%;
    height: 50%;
    position: relative;
    left: 10%;
  
  }
  
  .nav-item{
    color: #000000;
    font-weight: bold;
  }

  @media (max-width: 900px) {
    .error-container {
        margin: 30% 25%;
  }
}