body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #faa2bc, #f2366f);
}
  /* css for the form which is for uploading the video file */
  .upload-form {
    max-width: 600px;
    margin: 0 auto;
    
    padding: 20px;
    color:#000000;
    border-radius: 8px;
    border: 4px solid;
    border-color: #000000;
    box-shadow: 0 0 10px rgba(253, 240, 0, 0.1); 
  }

  .upload-form h2 {
    text-align: center;
    color: #000000; 
    
  }

  .upload-form p {
    text-align: center;
    color: #000000;  font-weight: bold;
  }

  .upload-form input[type="file"] {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 2px solid #3498db; 
    border-radius: 5px;
    background-color: #ecf0f1; 
    color: #333; 
    font-size: 16px;
  }

  .upload-form input[type="submit"] {
    background-color: #3498db; 
    color: #fff; 
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }

  .upload-form input[type="submit"]:hover {
    background-color: #2980b9; 
  }

  .error-message {
    color: #c0392b;
    margin-top: 5px;
  }

  
  .upload-form {
    display: none;
}
  /* end of css for the form  */
  

/*  button styles */
button {
  border: none;
  padding: 50%;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  margin: 0;
}


.download-button {
  display: inline-block;
  background-color: #ffffff; 
  color: #000000; 
  padding: 10px 20px; 
  border-radius: 5px; 
  border: none; 
  text-align: center; 
  transition: background-color 0.3s ease; 
}
.download-button:hover {
  background-color: #0056b3; 
}


.download-link {
  color: inherit; 
  text-decoration: none; 
}


.download-link:hover {
  text-decoration: underline; 
}

/* loader css */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  background-color: rgba(247, 249, 251, 0.8); 
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #7449f5;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.loader-text {
  font-size: 18px;
  margin-top: 10px;
}


.container {
  text-align: center;
  padding: 20px;
  
  border-radius: 10px;
}

.main-heading {
  font-size: 3em;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.intro-text {
  font-size: 1.2em;
  color: #fff;
  line-height: 1.6;
}

/* css for logo */
#header-img {
  width: 50%;
  height: 50%;
  position: relative;
  left: 10%;

}

.nav-item{
  color: #000000;
  font-weight: bold;
}
/* css for card */
.file-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.file-card h3 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
}

.file-card a {
  text-decoration: none;
  color: #007bff; 
  font-weight: bold;
}

.file-card a:hover {
  text-decoration: underline;
}
