body {
  font-family: 'Arial', sans-serif;
}
/* css for logo */
#header-img {
  width: 50%;
  height: 50%;
  position: relative;
  left: 10%;

}



.container {
  text-align: center;
  padding: 20px;  
  border-radius: 10px;
}

.main-heading {
  font-size: 3em;
  color: #3a3939;
  margin-bottom: 20px;
}

.intro-text {
  font-size: 1.2em;
  color: #3a3939;
  line-height: 1.6;
}

.upload-form {
  max-width: 600px;
  padding: 10px;
  height:fit-content;
  justify-content: center;
  margin: 0 auto;
  color: #3a3939;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 10px rgba(248, 10, 149, 0.886);
}

.upload-form:hover {
  transform: scale(1.1);
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(248, 10, 149, 0.886);
}
  

  .upload-form h2 {
    text-align: center;
    color: #3a3939; 
    
  }

  .upload-form p {
    text-align: center;
    color: #3a3939;  
  }

  .upload-form input[type="file"] {
    display: block;
    align-self: center;
    width: 60%;
    padding: 5px;

    margin: 10px 0;
    border: 2px solid #eb17a1; 
    border-radius: 5px;
    background-color: #ecf0f1; 
    color: #3a3939; 
    font-size: 16px;
  }
  .upload-form select {
    display: block;
    width: 60%;
    padding: 5px;
    margin: 10px 0;
    border: 2px solid #eb17a1; 
    border-radius: 5px;
    background-color: #ecf0f1; 
    color: #3a3939; 
    font-size: 16px;
  }
  .upload-form input[type="submit"] {
    background-color: #0bc62d; 
    color: #3a3939; 
    border: none;
    display: flex;
    font-family:'monospace';
    font-weight:bold;
    position: relative;
    left: 30%;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  .hidden {
    display: none;
}

  .upload-form input[type="submit"]:hover {
    background-color:#0c8b24;
  }

  .error-message {
    color: #c0392b;
    margin-top: 5px;
  }

  
/* Styling for the container holding recent files */
.recent-files {
  max-width: 600px;
  padding: 10px;
  height:fit-content;
  justify-content: center;
  margin: 0 auto;
  color: #3a3939;
  border-radius: 15px;
  border: 2px solid #3a3939;
  background-color: rgb(255, 255, 255);
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Hover effect for recent files */
.recent-files:hover {
  background-color: #ffffff; /* Darker background color on hover */
  transform: scale(1.05); 
  
}

/* Styling for the header of recent files */
.recent-files strong {
  display: block;
  font-size: 1.5em; /* Larger font size for emphasis */
  color: #3a3939;
  /* Light text color */
  margin-bottom: 20px; /* Space below the header */
}

/* Styling for each file card */
.file-card {
  background-color: #fff; /* White background for each card */
  padding: 15px; /* Padding inside the card */
  margin-bottom: 20px; /* Spacing between cards */
  border: 1px solid #ddd; /* Light border around each card */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(237, 11, 185, 0.2); /* Shadow for depth */
  position: relative; /* Positioning context for pseudo-element */
  transition: transform 0.3s ease; /* Smooth transition for transform */
}

/* Blow-up animation on card hover */
.file-card:hover {
  transform: scale(1.03); /* Slightly scale up on hover */
}

/* File name styling */
.file-card h3 {
  font-size: 1.2em; /* Font size for file names */
  color: #333; /* Dark text color */
  margin-bottom: 10px; /* Space below the file name */
  text-align: center; /* Center-align file names */
}

/* Download link styling */
.file-card a {
  display: block;
  text-align: center; /* Center-align download links */
  color: #3498db; /* Link color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

/* Link hover effect */
.file-card a:hover {
  color: #2980b9; /* Darker link color on hover */
}


.download-button {
  display: inline-block;
  background-color: #ffffff; 
  color: #000000; 
  padding: 10px 20px; 
  border-radius: 5px; 
  border: none; 
  text-align: center; 
  transition: background-color 0.3s ease; 
}
.download-button:hover {
  background-color: #0056b3; 
}


.download-link {
  color: inherit; 
  text-decoration: none; 
}


.download-link:hover {
  text-decoration: underline; 
}
.container2 {
  display: flex;
  justify-content: space-between;
}

.upload-form, .recent-files {
  width: calc(40% ); /* Adjust width as needed */

  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container2 {
      flex-direction: column;
  }

  .upload-form, .recent-files {
      width: 100%;
  }
}
/* loader css */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  background-color: rgba(247, 249, 251, 0.8); 
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #7449f5;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.loader-text {
  font-size: 18px;
  margin-top: 10px;
}



.alert {
  padding: 20px;
  background-color: #0cf13d;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

@media (max-width: 600px) {
  .file-card {
    width: 100%;
    word-wrap: break-word;
  }
  .upload-form input[type="submit"] {
    left:22%;
    
}
}