<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Recent Files</title>
</head>
<body>
    <div class="main-wrapper">
        <div class="title-bar">
            <h1>Recent Files Uploaded</h1>
            <button class="upload-button">Upload/Transcribe</button>
        </div>
        <div class="file-list">
            {% if uploaded_files %}
            <table class="file-table">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>File Name</th>
                        <th>File Length</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file_path in uploaded_files %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ file_path.split('uploads')[-1].replace('\', '').replace('.srt', '') }}</td>
                        <td>{{ file_path_length }} <!-- Adjust this to your actual file length data --></td>
                        <td><a href="{{ url_for('download', file_path=file_path) }}">Download</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No recent files available!!.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
